{% extends "layout.html" %}

{% block body %}
<h3>About Us</h3>
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim veniam aliquam pariatur magni harum excepturi soluta
    necessitatibus animi dolores, deserunt dicta, adipisci sapiente ducimus modi optio eveniet! Blanditiis quidem aut et
    rem numquam, debitis, earum voluptas omnis unde cupiditate velit quibusdam in minima praesentium dicta. Doloremque
    saepe alias, hic facilis vitae maiores. Praesentium voluptatibus aspernatur officia quidem dolorum quas tempora nam
    voluptas nostrum cupiditate tempore magnam explicabo porro ducimus repellat voluptatum, voluptates soluta? Omnis,
    magni? Est neque incidunt esse quibusdam ullam repellat debitis quod eius, natus nihil cupiditate sapiente pariatur
    fugiat, voluptate dicta asperiores obcaecati et nostrum vel recusandae eligendi!
</p>
{% endblock body %}